{{> header }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>El gato mas serio del mundo</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae enim aut fuga reprehenderit? Exercitationem, repellendus ea tempora nesciunt magni quam hic, ipsum iusto reiciendis ex quod illo. Vitae, tenetur aliquid?
        </p>

    </div>
    <div class="col-4">
        <img src="assets/img/gato.jpg" class="img-thumbnail">

    </div>
</div>

{{> footer }}